@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
:root{
    --grey-300: #D1D5DB;
    --grey-800: #1F2937; 
}

body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--color-secondary-200);
    height: 100vh;
}

nav{
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 0 0 1rem;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 10vh;
}